//- extends baseEmail

//- block content
//-   p Hi #{firstName},
//-   p Forgot your password? 
//-   table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
//-     tbody
//-       tr
//-         td(align='left')
//-           table(role='presentation', border='0', cellpadding='0', cellspacing='0')
//-             tbody
//-               tr
//-                 td
//-                   a(href=`${url}`, target='_blank') Reset your password
//-   p If you didn't forget your password, please ignore this email!
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cropify Password Reset
    style.
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: left;
        background-color: #68e37e;
        background: linear-gradient(to right, #99ebb6, #45cf4c);
      }
      h2 {
        text-align: center;
        margin-top: 0;
      }
      .img-container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
      .img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
      }
      p {
        margin-bottom: 20px;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #bd161e;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
      }
      .btn:hover {
        background-color: #7a1e1e;
      }
  body
    .container
      .img-container
        img.img(src="cropift.webp", alt="Cropify")
      h2 Cropify Password Reset
      p Hi  #{firstName} ,
      p Forgotten your password?
      p You have been sent this email because we received a request to reset the password to your Cropify account.
      p To do this, please click the button below to enter a new password of your choice.
      p Regards,
      a.btn(href=`${url}`, target='_blank') Reset Password
      p If you didn't forget your password, please ignore this email!
